@import 'nib'
global-reset()

body
  background: #212e61
  color: white
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

.TodoApp
  padding: 20px
  font-size: 30px
  font-weight: 300
  text-align:center

a
  color: saturate(lighten(#1F284B, 65%), 100%)
  text-decoration: none

input
  font-size: 30px
  appearance: none
  background: alpha(black, .3)
  border: 0
  border-radius: 5px
  padding: 10px
  color:white
  outline: none

button
  appearance: none
  padding: 10px
  background: #839e36
  border: 0
  border-radius: 5px
  font-size: 20px
  color:white
  cursor: pointer
  outline: none
