// -----------------------------------------------------------------------------
// fonts
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro')

$font-open = 'Open Sans', Arial, Helvetica, sans-serif
$font-anon = 'Anonymous Pro', 'Courier New', Courier, monospace

// -----------------------------------------------------------------------------
// colors
// -----------------------------------------------------------------------------

$clr-offWhite = rgba(255, 255, 255, .8)
$clr-gray = #585858
$clr-offBlack = #3E3E3E
$clr-blue1 = #00B4D5
$clr-blue2 = #00ECFF
$clr-zab = #E45D35
$clr-nozzle = #0C6A8A
