@import 'nib'
global-reset()

body
  background: #212e61
  color: white

.Counter
  padding: 20px
  font-size: 25px

button
  appearance: none
  padding: 10px
  background: alpha(white, .2)
  margin: 5px
  border: 0
  border-radius: 5px
  font-size: 20px
  color:white
  cursor: pointer
  outline: none

em
  font-style: italic
  opacity: .5
