extends layout

block content
  section(class="main")
    header
      img(class="logo", src="/img/logo.svg")
      p(class="subheading") v0.0.10
    
    div
      div(class="install")
        span $
        | npm install -g jumpsuit
      
      div(class="star-on-github")
        a(class="github-button" href="https://github.com/zab/jumpsuit" data-style="mega" data-count-href="/zab/jumpsuit/stargazers" data-count-api="/repos/zab/jumpsuit#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star zab/jumpsuit on GitHub") Star
      
  section(class="content")
    div(class="block center")
      img(src="/img/react-redux.svg", class="react-redux")
    div(class="block")
      h1 What is Jumpsuit?
      p Jumpsuit is a powerful and efficient front-end framework, built on the industry's best technologies. It abstracts powerful features from React and Redux into one simple-to-use library. For more info, #[a(href="#") read this blog post].

    div(class="block center")
      img(src="/img/react-redux.svg", class="react-redux")
    div(class="block")
      h1 Easy State Management
      p Jumpsuit's state management gives you all the perks and performance of Redux without the clutter. Instead of dealing with action creators and endless dispatching, you call simple functions. Jumpsuit takes care of the hard stuff for you. #[a(href="#") Read more here].
      
    div(class="block center")
      img(src="/img/react-redux.svg", class="react-redux")
    div(class="block")
      h1 Dedicated Build System
      p Jumpsuit ships with an incredible and opinionated build system that gets you up and running faster than anything else. There are even scaffolding tools included for rapidly starting new projects and creating common application structures. #[a(href="#") Read more here].
      
    div(class="block center")
      img(src="/img/react-redux.svg", class="react-redux")
    div(class="block")
      h1 Hot State Reloading
      p Your development experience will no longer be interrupted with manual page reloads. When file changes occur, your state is maintained in memory across automatic browser refreshes, allowing it to be restored from any point in time or saved to disk for later. For more info on HSR and how it differs from HMR, #[a(href="#") read this blog post].

  footer
    ul(class="social")
      li(class="logo"): img(src="/img/icon.svg")
      li: a(href="https://github.com/zab/jumpsuit", target="_blank"): i(class="fa fa-github-square")
      li: a(href="https://twitter.com/jumpsuitjs", target="_blank"): i(class="fa fa-twitter-square")
    ul(class="copyright")
      li(class="date") &#169; 2016
      li Made with #[i(class="fa fa-heart heart")] by #[a(href="http://zab.io", class="zab", target="_blank") Zab] and #[a(href="http://nozzle.io", class="nozzle", target="_blank") Nozzle]

  div(id="egg-container")
    iframe(id="egg", src="", frameborder="0", allowfullscreen)
  
  script(async, defer, src="https://buttons.github.io/buttons.js")
